<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>清一搜</title>

  <!-- CSS  -->
  <link href="http://cdn.bootcss.com/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    .input-field.col label {
      left: 0;
    }
    form {
      margin-top: 15px; 
    }
    label.active {
      -webkit-transform: translateY(0) !important; 
      transform: translateY(0) !important;
    }
    input#search {
      box-sizing: border-box;
      padding-left: 30px;
    }
    a.blog-link:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    em {
      font-style: normal;
      color: #ee6e73;
    }
    h5 {
      font-size: 18px;
    }
    div.badge {
      height: 18px;
    }
    span.badge {
      float: left;
      margin-left: 0;
    }
    #pagination li {
      color: #444;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;
    }
    #pagination li.active {
      color: white;
    }
    .progress {
      display: none ;
      margin: 0;
      position: fixed;
      top: 0;
      z-index: 100;
    }
    ul.collection {
      border: 0;
    }
  </style>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">清一搜</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">关于</a></li>
      </ul>
      <!--<a href="/about" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
     <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <form action="/search" method="get">
          <div class="input-field col s12">
            <input id="search"  name="q" type="text" class="validate" value=<%- searchStr %>>
            <label for="password"><i class="material-icons">search</i></label>
          </div>
      </form>
      <p>共<%- total %> 条搜索结果</p>
      <ul class="collection">
        <% articles.forEach(function(article){ %>
          <li class="collection-item ">
            <h5 class="title">
              <a class="blog-link" target="_blank" href= <%- article._source.url %> >
                <%- article.highlight.title || article._source.title%>
              </a>
            </h5>
            <div class="badge">
              <span class="new badge gray" 
              data-badge-caption= <%- article._source.createTime.slice(0,10) %>></span>
            </div>
            <p >...<%- article.highlight.content|| article._source.content.slice(0, 100) %>...
            </p>
          </li>
        <% }); %>
      </ul>
       <ul id="pagination" class="pagination">
       </div>
    </div>
  </div>
  <script src="https://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
  <script src="js/jqPaginator.min.js"></script>
  <script src="js/materialize.min.js"></script>  
  <script>
      var pageNo = <%= pageNo %>;
      var firstClick = true;
        window.onload = function() {
          if (pageNo > 0 ) {
            $('#pagination').jqPaginator({
            totalPages: pageNo,
            visiblePages: 8,
            currentPage: <%= curPage %>,
            first: '<li class="waves-effect">首页</li>',
            last: '<li class="waves-effect">末页</li>',
            prev: '<li class="prev"><a href="javascript:;"><i class="material-icons">chevron_left</i></a></li>',
            next: '<li class="next"><a href="javascript:;"><i class="material-icons">chevron_right</i></a></li>',
            page: '<li class="waves-effect"><a href="javascript:;">{{page}}</a></li>',
            onPageChange: function (num, type) {
              if (!firstClick) {
                $('.progress').show()
                window.location.href = "http://47.94.85.50/search?q=" +
                // window.location.href = "http://localhost:3000/search?q=" +
                  $('#search')[0].value + '&page=' + num
              }
              firstClick = false
            }
          });
        }
      }

  </script>
  </body>
</html>
